.header {
  padding: 25px 0 47px;
  border-bottom: 1px solid rgb(var(--grey-2));
}
.header__logo {
  display: inline-flex;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-family: Inter-Medium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: rgb(var(--black));
}
