.calendar {
  border: 1px solid rgb(var(--grey-3));
  border-radius: 8px;
  padding: 28px 36px;
  width: 100%;
  max-width: 300px;
}

.calendar__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgb(51, 77, 110);
  text-align: center;
}

.calendar__wrapper {
  padding-bottom: 100%;
  position: relative;
}

.calendar__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
  display: grid;
  place-content: center;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgb(51, 77, 110);
}

.calendar__item_day {
  color: rgb(144, 160, 183);
}

.calendar__item_active {
  background: rgb(66, 99, 235);
  color: rgb(var(--white));
}

.calendar__item_between-active {
  background: rgb(160, 177, 245);
}
